<template>
  <div>
    <cart :cart="carts.current"></cart>
  </div>
</template>

<script>
import carts from '@/components/CartService';
import Cart from '@/components/Cart.vue';

export default {
  name: 'CartPage',
  components: {
    Cart,
  },
  data() {
    return {
      carts,
    };
  },
};
</script>

<style scoped>

</style>
