<template>
  <div>
    <div class="destination-input">
      <div>
        <label for="name">Full name:</label>
        <input type="text" class="form-control" id="name" autocomplete="name"
               v-model="carts.current.destination.data.name">
      </div>

      <div>
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" id="email" autocomplete="email"
               v-model="carts.current.destination.data.email">
      </div>

      <div>
        <label for="postal-code">Postal code:</label>
        <input type="text" class="form-control" id="postal-code" autocomplete="postal-code"
               v-model="carts.current.destination.data.postalCode">
      </div>
    </div>

    <nav class="nabvar fixed-bottom">
      <div class="container">
        <router-link class="btn btn-outline-success" to="/payment">
          Input payment
        </router-link>
      </div>
    </nav>
  </div>
</template>

<script>
import carts from '@/components/CartService';

export default {
  name: 'DestinationPage',
  data() {
    return {
      carts,
    };
  },
};
</script>

<style scoped>
  .destination-input {
    margin-bottom: 4rem;
  }
</style>
