<template>
  <div>
    <p>
      購入が完了しました。
    </p>

    <div class="text-right" style="margin-top: 1rem;">
      <router-link class="btn btn-success" :to="{name: 'history-detail', params: { id }}">
        History
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FinishPage',
  props: ['id'],
};
</script>

<style scoped>

</style>
