<template>
  <div>
    <div>
      {{ item && item.time && item.time.toString() }}
    </div>
    <div>
      <span class="badge badge-dark">
        {{ item && item.state && item.state.toString() }}
      </span>
    </div>
    <div>
      {{ item.cart.destination.data.name }}
    </div>
    <div>
      {{ item.cart.destination.data.email }}
    </div>
    <div>
      {{ item.cart.destination.data.postalCode }}
    </div>
    <cart-detail :cart="item.cart" :readonly="true"></cart-detail>
  </div>
</template>

<script>
import histories from '@/components/HistoryService';
import CartDetail from '@/components/CartDetail.vue';

export default {
  name: 'HistoryDetailPage',
  props: [
    'id',
  ],
  data() {
    return {
      item: {},
    };
  },
  components: {
    CartDetail,
  },
  async created() {
    this.item = await histories.find(this.id);
  },
};
</script>

<style scoped>

</style>
