<template>
  <div>
    <table class="table">
      <tr v-for="item in histories.items" :key="item.id">
        <td>
          <router-link :to="{ name: 'history-detail', params: { id: item.id }}">
            {{ item.time.toString() }}
          </router-link>
        </td>
        <td>{{ item.price.toString() }}</td>
        <td>
          <span class="badge badge-dark">
            {{ item.state.toString() }}
          </span>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import histories from '@/components/HistoryService';

export default {
  name: 'History',
  created() {
    this.histories.fetch();
  },
  data() {
    return {
      histories,
    };
  },
};
</script>

<style scoped>

</style>
