<template>
  <section class="product-list">
    <product-summary v-for="item in items" :key="item.id" :item="item" style="margin-top: 1rem;">
    </product-summary>
  </section>
</template>

<script>
import ProductSummary from '@/components/ProductSummary.vue';
import products from '../components/ProductService';

export default {
  name: 'home',
  components: {
    ProductSummary,
  },
  async created() {
    this.items = await products.fetch();
  },
  data() {
    return {
      items: [],
    };
  },
};
</script>

<style scoped>
  .product-list {
    margin-top: 1rem;
  }
</style>
