<template>
  <div>
    <p>
      仮のお支払いページ
    </p>
    <p>
      Web Payment API を使うと、Android の支払いを利用でき、カード番号などの入力は不要になります。
    </p>

    <nav class="nabvar fixed-bottom">
      <div class="container">
        <button class="btn btn-outline-success" type="button" @click="buy">
          Buy
        </button>
      </div>
    </nav>
  </div>
</template>

<script>
import carts from '@/components/CartService';
import { PushManager } from '@/components/PushManager';

export default {
  name: 'PaymentPage',
  async created() {
    this.carts = carts;
  },
  data() {
    return {
      carts,
    };
  },
  methods: {
    buy() {
      const id = this.carts.current.id; // eslint-disable-line prefer-destructuring
      this.carts.buy(PushManager.create());
      this.$router.push({
        name: 'finish',
        params: { id },
      });
    },
  },
};
</script>

<style scoped>

</style>
