<template>
  <div>
    <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
      <div class="col-6">
        Total: {{ cart && cart.price && cart.price.toString() }}
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <cart-item v-for="item in (cart && cart.items || [])"
                 :key="item.id" :item="item" :readonly="readonly">
      </cart-item>
      </tbody>
    </table>
  </div>
</template>

<script>
import CartItem from './CartItem.vue';

export default {
  name: 'CartDetail',
  props: [
    'cart',
    'readonly',
  ],
  components: {
    CartItem,
  },
};
</script>

<style scoped>

</style>
