<template>
  <div>
    <cart-detail :cart="cart"></cart-detail>

    <nav class="nabvar fixed-bottom">
      <div class="container">
        <router-link class="btn btn-outline-success" to="/destination">
          Buy
        </router-link>
      </div>
    </nav>
  </div>
</template>

<script>
import CartDetail from './CartDetail.vue';

export default {
  name: 'Cart',
  props: [
    'cart',
  ],
  components: {
    CartDetail,
  },
};
</script>

<style scoped>

</style>
