<template>
  <tr>
    <td>{{ item.item.name }}</td>
    <td>
      <div class="item-quantity">
        <div class="item-quantity-minus">
          <button class="btn btn-sm" @click="decrement" v-if="!readonly">
            <font-awesome-icon icon="chevron-left" />
            <span class="sr-only">Decrement</span>
          </button>
        </div>
        <div class="item-quantity-value">{{ item.quantity }}</div>
        <div class="item-quantity-plus">
          <button class="btn btn-sm item-quantity-minus" @click="increment" v-if="!readonly">
            <font-awesome-icon icon="chevron-right" />
            <span class="sr-only">Increment</span>
          </button>
        </div>
      </div>
    </td>
    <td class="text-right item-price">{{ item.price.toString() }}</td>
  </tr>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

export default {
  name: 'CartItem',
  props: [
    'item',
    'readonly',
  ],
  components: {
    FontAwesomeIcon,
  },
  methods: {
    increment() {
      this.item.increment();
    },
    decrement() {
      this.item.decrement();
    },
  },
};
</script>

<style scoped>
  .item-quantity {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .item-quantity-minus, .item-quantity-plus {
  }

  .item-quantity-value {
    text-align: right;
    padding: 0.2rem;
    width: 2.5rem;
  }

  .item-price {
    width: 6rem;
  }
</style>
