<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">
      PWA Shop
    </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <router-link class="nav-link" to="/">
          <font-awesome-icon icon="home"/>
          <span class="d-none d-sm-inline">Home</span>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="/history">
          <font-awesome-icon icon="history"/>
          History
        </router-link>
      </li>
    </ul>

    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <router-link class="nav-link cart-badge" to="/cart">
          <font-awesome-icon icon="shopping-cart" class="cart-badge-icon" />
          <span class="sr-only">Cart</span>
          <span class="badge badge-danger cart-badge-value" v-if="!carts.current.empty">
            {{ carts.current.quantity }}
          </span>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import carts from '@/components/CartService';

export default {
  name: 'NavigationBar',
  data() {
    return {
      carts,
    };
  },
  components: {
    FontAwesomeIcon,
  },
};
</script>

<style scoped>
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .cart-badge {
    position: relative;
  }

  .cart-badge-value {
    position: absolute;
    bottom: 0.4rem;
    right: 0;
  }
</style>
