<template>
  <article class="card product">
    <div class="card-body">
      <h5 class="card-title product-name">{{ item.data.name }}</h5>
      <div class="product-detail">
        <div class="product-image-box">
          <img :src="item.data.imageUrl">
        </div>
        <div class="product-data">
          <span class="product-price">{{ item.data.price.toString() }}</span>
          <button class="btn btn-outline-success product-add-cart" @click="addToCart">
            Add
            <font-awesome-icon icon="cart-plus" />
          </button>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

export default {
  name: 'ProductSummary',
  props: [
    'item',
  ],
  components: {
    FontAwesomeIcon,
  },
  methods: {
    addToCart() {
      this.item.addToCart();
    },
  },
};
</script>

<style scoped>

  .product-detail {
    display: flex;
  }

  .product-data {
    position: relative;
    width: 100%;
  }

  .product-data > * {
    position: absolute;
    right: 0;
  }

  .product-data > .product-price {
    bottom: 3rem;
  }

  .product-data > .product-add-cart {
    bottom: 0;
  }
</style>
