<template>
  <div id="app">
    <navigation-bar></navigation-bar>

    <main class="container" style="margin-top: 4rem;">
      <router-view/>
    </main>
  </div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar.vue';

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'App',
  components: {
    NavigationBar,
  },
};
</script>

<style>
</style>
